################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ASSISTENTE DE INTALAÇÃO/FileContentIndex/012ad61e-41bf-4e2b-8a3b-3b890942ef4e.vsidx
